$coreui-icons-prefix: "cis-" !default;
$coreui-icons-font-path: "../fonts" !default;

$icons: (
  "3d": \ea01,
  "3d-rotate": \ea02,
  "4k": \ea03,
  "accessibility": \ea04,
  "accessible": \ea05,
  "account-logout": \ea06,
  "action-redo": \ea07,
  "action-undo": \ea08,
  "address-book": \ea09,
  "address-card": \ea0a,
  "airplane-mode": \ea0b,
  "airplane-mode-off": \ea0c,
  "airplay": \ea0d,
  "alarm": \ea0e,
  "alarm-add": \ea0f,
  "alarm-off": \ea10,
  "alarm-on": \ea11,
  "alarm-snooze": \ea12,
  "album": \ea13,
  "align-center": \ea14,
  "align-left": \ea15,
  "align-right": \ea16,
  "american-football": \ea17,
  "animal": \ea18,
  "aperture": \ea19,
  "apple": \ea1a,
  "applications": \ea1b,
  "applications-settings": \ea1c,
  "apps": \ea1d,
  "apps-settings": \ea1e,
  "archive": \ea1f,
  "arrow-bottom": \ea20,
  "arrow-circle-bottom": \ea21,
  "arrow-circle-left": \ea22,
  "arrow-circle-right": \ea23,
  "arrow-circle-top": \ea24,
  "arrow-left": \ea25,
  "arrow-right": \ea26,
  "arrow-thick-bottom": \ea27,
  "arrow-thick-circle-down": \ea28,
  "arrow-thick-circle-left": \ea29,
  "arrow-thick-circle-right": \ea2a,
  "arrow-thick-circle-up": \ea2b,
  "arrow-thick-from-bottom": \ea2c,
  "arrow-thick-from-left": \ea2d,
  "arrow-thick-from-right": \ea2e,
  "arrow-thick-from-top": \ea2f,
  "arrow-thick-left": \ea30,
  "arrow-thick-right": \ea31,
  "arrow-thick-square-down": \ea32,
  "arrow-thick-square-left": \ea33,
  "arrow-thick-square-right": \ea34,
  "arrow-thick-square-up": \ea35,
  "arrow-thick-to-bottom": \ea36,
  "arrow-thick-to-left": \ea37,
  "arrow-thick-to-right": \ea38,
  "arrow-thick-to-top": \ea39,
  "arrow-thick-top": \ea3a,
  "arrow-top": \ea3b,
  "art-track": \ea3c,
  "assistive-listening-system": \ea3d,
  "asterisk": \ea3e,
  "asterisk-circle": \ea3f,
  "at": \ea40,
  "audio": \ea41,
  "audio-description": \ea42,
  "audio-spectrum": \ea43,
  "av-timer": \ea44,
  "baby": \ea45,
  "baby-carriage": \ea46,
  "backspace": \ea47,
  "badge": \ea48,
  "balance-scale": \ea49,
  "balance-scale-left": \ea4a,
  "balance-scale-right": \ea4b,
  "ban": \ea4c,
  "bank": \ea4d,
  "bar-chart": \ea4e,
  "barcode": \ea4f,
  "baseball": \ea50,
  "basket": \ea51,
  "basket-arrow-down": \ea52,
  "basket-loaded": \ea53,
  "basket-plus": \ea54,
  "basketball": \ea55,
  "bath": \ea56,
  "bathroom": \ea57,
  "battery-0": \ea58,
  "battery-1": \ea59,
  "battery-2": \ea5a,
  "battery-3": \ea5b,
  "battery-4": \ea5c,
  "battery-5": \ea5d,
  "battery-alert": \ea5e,
  "battery-alt-0": \ea5f,
  "battery-alt-1": \ea60,
  "battery-alt-2": \ea61,
  "battery-alt-3": \ea62,
  "battery-alt-empty": \ea63,
  "battery-alt-full": \ea64,
  "battery-alt-slash": \ea65,
  "battery-charge": \ea66,
  "battery-empty": \ea67,
  "battery-full": \ea68,
  "battery-slash": \ea69,
  "battery-unknown": \ea6a,
  "beach-access": \ea6b,
  "beaker": \ea6c,
  "bed": \ea6d,
  "bell": \ea6e,
  "bell-exclamation": \ea6f,
  "bell-plus": \ea70,
  "bell-ring": \ea71,
  "bell-slash": \ea72,
  "bike": \ea73,
  "bike-alt": \ea74,
  "birthday-cake": \ea75,
  "blind": \ea76,
  "bluetooth": \ea77,
  "bluetooth-connected": \ea78,
  "bluetooth-searching": \ea79,
  "bluetooth-settings": \ea7a,
  "bluetooth-slash": \ea7b,
  "blur": \ea7c,
  "blur-circular": \ea7d,
  "blur-linear": \ea7e,
  "blur-slash": \ea7f,
  "boat": \ea80,
  "boat-alt": \ea81,
  "bold": \ea82,
  "bolt": \ea83,
  "bolt-alt": \ea84,
  "bolt-circle": \ea85,
  "book": \ea86,
  "book-open": \ea87,
  "bookmark": \ea88,
  "bookmarks": \ea89,
  "border-all": \ea8a,
  "border-bottom": \ea8b,
  "border-clear": \ea8c,
  "border-horizontal": \ea8d,
  "border-inner": \ea8e,
  "border-left": \ea8f,
  "border-outer": \ea90,
  "border-right": \ea91,
  "border-style": \ea92,
  "border-top": \ea93,
  "border-vertical": \ea94,
  "bowling": \ea95,
  "bowling-pins": \ea96,
  "box": \ea97,
  "box-alt": \ea98,
  "braille": \ea99,
  "branding-watermark": \ea9a,
  "briefcase": \ea9b,
  "briefcase-arrow-left": \ea9c,
  "briefcase-arrow-right": \ea9d,
  "briefcase-slash": \ea9e,
  "brightness": \ea9f,
  "brightness-auto": \eaa0,
  "brightness-high": \eaa1,
  "brightness-low": \eaa2,
  "brightness-medium": \eaa3,
  "british-pound": \eaa4,
  "british-pound-circle": \eaa5,
  "british-pound-slash": \eaa6,
  "broadcast-tower": \eaa7,
  "browser": \eaa8,
  "brush": \eaa9,
  "brush-alt": \eaaa,
  "bug": \eaab,
  "building": \eaac,
  "building-business": \eaad,
  "building-business-slash": \eaae,
  "building-slash": \eaaf,
  "bullhorn": \eab0,
  "burger": \eab1,
  "bus": \eab2,
  "bus-alt": \eab3,
  "bus-timer": \eab4,
  "calculator": \eab5,
  "calendar": \eab6,
  "calendar-alt": \eab7,
  "calendar-check": \eab8,
  "calendar-event": \eab9,
  "calendar-minus": \eaba,
  "calendar-note": \eabb,
  "calendar-plus": \eabc,
  "calendar-times": \eabd,
  "calendar-today": \eabe,
  "calendar-view-day": \eabf,
  "call-made": \eac0,
  "call-merge": \eac1,
  "call-missed": \eac2,
  "call-missed-outgoing": \eac3,
  "call-received": \eac4,
  "call-split": \eac5,
  "call-swap-calls": \eac6,
  "call-to-action": \eac7,
  "camera": \eac8,
  "camera-control": \eac9,
  "camera-enhance": \eaca,
  "camera-plus": \eacb,
  "camera-roll": \eacc,
  "camera-switch": \eacd,
  "car": \eace,
  "car-alt": \eacf,
  "card-giftcard": \ead0,
  "card-membership": \ead1,
  "card-travel": \ead2,
  "caret-bottom": \ead3,
  "caret-left": \ead4,
  "caret-right": \ead5,
  "caret-top": \ead6,
  "cart": \ead7,
  "cart-arrow-down": \ead8,
  "cart-loaded": \ead9,
  "cart-plus": \eada,
  "cart-slash": \eadb,
  "cash": \eadc,
  "casino": \eadd,
  "cast": \eade,
  "cast-connected": \eadf,
  "cast-for-education": \eae0,
  "cat": \eae1,
  "cc": \eae2,
  "center-focus": \eae3,
  "center-focus-weak": \eae4,
  "chalkboard-teacher": \eae5,
  "chart": \eae6,
  "chart-area": \eae7,
  "chart-bubble": \eae8,
  "chart-donut": \eae9,
  "chart-line": \eaea,
  "chart-multiline": \eaeb,
  "chart-pie": \eaec,
  "chart-show": \eaed,
  "chart-table": \eaee,
  "chat-bubble": \eaef,
  "chat-square": \eaf0,
  "check": \eaf1,
  "check-alt": \eaf2,
  "check-circle": \eaf3,
  "check-double": \eaf4,
  "check-double-alt": \eaf5,
  "chevron-bottom": \eaf6,
  "chevron-bottom-alt": \eaf7,
  "chevron-circle-down": \eaf8,
  "chevron-circle-down-alt": \eaf9,
  "chevron-circle-left": \eafa,
  "chevron-circle-left-alt": \eafb,
  "chevron-circle-right": \eafc,
  "chevron-circle-right-alt": \eafd,
  "chevron-circle-up": \eafe,
  "chevron-circle-up-alt": \eaff,
  "chevron-double-down": \eb00,
  "chevron-double-down-alt": \eb01,
  "chevron-double-left": \eb02,
  "chevron-double-left-alt": \eb03,
  "chevron-double-right": \eb04,
  "chevron-double-right-alt": \eb05,
  "chevron-double-up": \eb06,
  "chevron-double-up-alt": \eb07,
  "chevron-left": \eb08,
  "chevron-left-alt": \eb09,
  "chevron-right": \eb0a,
  "chevron-right-alt": \eb0b,
  "chevron-square-down": \eb0c,
  "chevron-square-down-alt": \eb0d,
  "chevron-square-left": \eb0e,
  "chevron-square-left-alt": \eb0f,
  "chevron-square-right": \eb10,
  "chevron-square-right-alt": \eb11,
  "chevron-square-up": \eb12,
  "chevron-square-up-alt": \eb13,
  "chevron-top": \eb14,
  "chevron-top-alt": \eb15,
  "child": \eb16,
  "child-friendly": \eb17,
  "circle": \eb18,
  "city": \eb19,
  "clear-all": \eb1a,
  "clipboard": \eb1b,
  "clock": \eb1c,
  "clone": \eb1d,
  "closed-captioning": \eb1e,
  "cloud": \eb1f,
  "cloud-check": \eb20,
  "cloud-circle": \eb21,
  "cloud-download": \eb22,
  "cloud-slash": \eb23,
  "cloud-upload": \eb24,
  "code": \eb25,
  "coffee": \eb26,
  "cog": \eb27,
  "color-border": \eb28,
  "color-fill": \eb29,
  "color-palette": \eb2a,
  "columns": \eb2b,
  "command": \eb2c,
  "comment-bubble": \eb2d,
  "comment-bubble-check": \eb2e,
  "comment-bubble-edit": \eb2f,
  "comment-bubble-exclamation": \eb30,
  "comment-bubble-lines": \eb31,
  "comment-bubble-minus": \eb32,
  "comment-bubble-plus": \eb33,
  "comment-bubble-question": \eb34,
  "comment-bubble-smile": \eb35,
  "comment-bubble-x": \eb36,
  "comment-square": \eb37,
  "comment-square-check": \eb38,
  "comment-square-edit": \eb39,
  "comment-square-exclamation": \eb3a,
  "comment-square-image": \eb3b,
  "comment-square-lines": \eb3c,
  "comment-square-minus": \eb3d,
  "comment-square-plus": \eb3e,
  "comment-square-rate-review": \eb3f,
  "comment-square-smile": \eb40,
  "comment-square-x": \eb41,
  "commute": \eb42,
  "compare": \eb43,
  "compass": \eb44,
  "compass-calibration": \eb45,
  "compass-slash": \eb46,
  "compress": \eb47,
  "compress-wide": \eb48,
  "contact": \eb49,
  "contact-mail": \eb4a,
  "contact-phone": \eb4b,
  "contacts": \eb4c,
  "contrast": \eb4d,
  "control": \eb4e,
  "copy": \eb4f,
  "core-free": \eb50,
  "core-logo": \eb51,
  "core-logo-full": \eb52,
  "core-pro": \eb53,
  "couch": \eb54,
  "credit-card": \eb55,
  "crop": \eb56,
  "crop-rotate": \eb57,
  "cursor": \eb58,
  "cursor-move": \eb59,
  "cut": \eb5a,
  "data-transfer-down": \eb5b,
  "data-transfer-up": \eb5c,
  "deaf": \eb5d,
  "delete": \eb5e,
  "description": \eb5f,
  "developer-board": \eb60,
  "device-unknown": \eb61,
  "devices": \eb62,
  "devices-important": \eb63,
  "devices-other": \eb64,
  "devices-slash": \eb65,
  "dial": \eb66,
  "dialpad": \eb67,
  "diamond": \eb68,
  "dinner": \eb69,
  "directions": \eb6a,
  "disabled": \eb6b,
  "dns": \eb6c,
  "dock": \eb6d,
  "document": \eb6e,
  "dog": \eb6f,
  "dollar": \eb70,
  "dollar-circle": \eb71,
  "dollar-circle-slash": \eb72,
  "dollar-slash": \eb73,
  "donate": \eb74,
  "door": \eb75,
  "double-quote-sans-left": \eb76,
  "double-quote-sans-right": \eb77,
  "double-quote-serif-left": \eb78,
  "double-quote-serif-right": \eb79,
  "drink": \eb7a,
  "drink-alcohol": \eb7b,
  "drop": \eb7c,
  "drop-slash": \eb7d,
  "dvr": \eb7e,
  "ear": \eb7f,
  "eco": \eb80,
  "education": \eb81,
  "elevator": \eb82,
  "energy": \eb83,
  "energy-circle": \eb84,
  "envelope-closed": \eb85,
  "envelope-letter": \eb86,
  "envelope-minus": \eb87,
  "envelope-open": \eb88,
  "envelope-plus": \eb89,
  "equalizer": \eb8a,
  "ethernet": \eb8b,
  "ethernet-alt": \eb8c,
  "euro": \eb8d,
  "euro-circle": \eb8e,
  "euro-circle-slash": \eb8f,
  "euro-slash": \eb90,
  "ev-station": \eb91,
  "excerpt": \eb92,
  "exclamation": \eb93,
  "exclamation-circle": \eb94,
  "exit-to-app": \eb95,
  "expand-down": \eb96,
  "expand-left": \eb97,
  "expand-right": \eb98,
  "expand-up": \eb99,
  "exposure": \eb9a,
  "external-link": \eb9b,
  "eye": \eb9c,
  "eye-slash": \eb9d,
  "eyedropper": \eb9e,
  "face": \eb9f,
  "face-dead": \eba0,
  "factory": \eba1,
  "factory-slash": \eba2,
  "fastfood": \eba3,
  "fax": \eba4,
  "featured-playlist": \eba5,
  "featured-video": \eba6,
  "fiber-dvr": \eba7,
  "fiber-manual": \eba8,
  "fiber-new": \eba9,
  "fiber-pin": \ebaa,
  "fiber-smart": \ebab,
  "file": \ebac,
  "file-acrobat": \ebad,
  "file-add": \ebae,
  "file-archive": \ebaf,
  "file-audio": \ebb0,
  "file-code": \ebb1,
  "file-doc": \ebb2,
  "file-excel": \ebb3,
  "file-image": \ebb4,
  "file-pdf": \ebb5,
  "file-powerpoint": \ebb6,
  "file-ppt": \ebb7,
  "file-video": \ebb8,
  "file-word": \ebb9,
  "file-xls": \ebba,
  "filter": \ebbb,
  "filter-frames": \ebbc,
  "filter-photo": \ebbd,
  "find-in-page": \ebbe,
  "find-replace": \ebbf,
  "fingerprint": \ebc0,
  "fire": \ebc1,
  "flag": \ebc2,
  "flag-alt": \ebc3,
  "flag-rectangle": \ebc4,
  "flag-triangle": \ebc5,
  "flame": \ebc6,
  "flash": \ebc7,
  "flight-land": \ebc8,
  "flight-takeoff": \ebc9,
  "flip": \ebca,
  "flip-to-back": \ebcb,
  "flip-to-front": \ebcc,
  "flower": \ebcd,
  "folder": \ebce,
  "folder-alt": \ebcf,
  "folder-open": \ebd0,
  "folder-plus": \ebd1,
  "folder-shared": \ebd2,
  "folder-special": \ebd3,
  "font": \ebd4,
  "football": \ebd5,
  "fork": \ebd6,
  "fridge": \ebd7,
  "frown": \ebd8,
  "fullscreen": \ebd9,
  "fullscreen-exit": \ebda,
  "functions": \ebdb,
  "functions-alt": \ebdc,
  "gamepad": \ebdd,
  "garage": \ebde,
  "gem": \ebdf,
  "gif": \ebe0,
  "gift": \ebe1,
  "glass": \ebe2,
  "globe": \ebe3,
  "globe-alt": \ebe4,
  "globe-alt-lock": \ebe5,
  "globe-lock": \ebe6,
  "golf": \ebe7,
  "golf-alt": \ebe8,
  "gradient": \ebe9,
  "grain": \ebea,
  "graph": \ebeb,
  "grid": \ebec,
  "grid-slash": \ebed,
  "hamburger-menu": \ebee,
  "happy": \ebef,
  "hard-drive": \ebf0,
  "hd": \ebf1,
  "hdr": \ebf2,
  "hdr-slash": \ebf3,
  "header": \ebf4,
  "headphones": \ebf5,
  "headphones-mic": \ebf6,
  "headphones-mute": \ebf7,
  "healing": \ebf8,
  "heart": \ebf9,
  "high-quality": \ebfa,
  "highlighter": \ebfb,
  "highligt": \ebfc,
  "history": \ebfd,
  "home": \ebfe,
  "hospital": \ebff,
  "hot-tub": \ec00,
  "hotel": \ec01,
  "hourglass": \ec02,
  "house": \ec03,
  "hq": \ec04,
  "http": \ec05,
  "https": \ec06,
  "id-badge": \ec07,
  "id-card": \ec08,
  "image": \ec09,
  "image-broken": \ec0a,
  "image-plus": \ec0b,
  "images": \ec0c,
  "inbox": \ec0d,
  "inbox-in": \ec0e,
  "inbox-out": \ec0f,
  "indent-decrease": \ec10,
  "indent-increase": \ec11,
  "industry": \ec12,
  "industry-slash": \ec13,
  "infinity": \ec14,
  "info": \ec15,
  "input": \ec16,
  "input-antenna": \ec17,
  "input-component": \ec18,
  "input-hdmi": \ec19,
  "input-power": \ec1a,
  "input-power-off": \ec1b,
  "input-svideo": \ec1c,
  "institution": \ec1d,
  "invert": \ec1e,
  "italic": \ec1f,
  "justify-center": \ec20,
  "justify-left": \ec21,
  "justify-right": \ec22,
  "key": \ec23,
  "key-alt": \ec24,
  "keyboard": \ec25,
  "keyboard-hide": \ec26,
  "kitchen": \ec27,
  "lan": \ec28,
  "language": \ec29,
  "laptop": \ec2a,
  "laundry": \ec2b,
  "layers": \ec2c,
  "layers-slash": \ec2d,
  "leaf": \ec2e,
  "lemon": \ec2f,
  "level-down": \ec30,
  "level-up": \ec31,
  "library": \ec32,
  "library-add": \ec33,
  "library-bookmark": \ec34,
  "library-books": \ec35,
  "library-building": \ec36,
  "library-music": \ec37,
  "life-ring": \ec38,
  "lightbulb": \ec39,
  "line-spacing": \ec3a,
  "line-style": \ec3b,
  "line-weight": \ec3c,
  "link": \ec3d,
  "link-alt": \ec3e,
  "link-broken": \ec3f,
  "link-intact": \ec40,
  "link-slash": \ec41,
  "list": \ec42,
  "list-filter": \ec43,
  "list-high-priority": \ec44,
  "list-low-priority": \ec45,
  "list-numbered": \ec46,
  "list-numbered-rtl": \ec47,
  "list-rich": \ec48,
  "location-gps": \ec49,
  "location-gps-fixed": \ec4a,
  "location-gps-off": \ec4b,
  "location-pin": \ec4c,
  "location-pin-check": \ec4d,
  "location-pin-edit": \ec4e,
  "location-pin-plus": \ec4f,
  "location-pin-slash": \ec50,
  "lock-locked": \ec51,
  "lock-minus": \ec52,
  "lock-plus": \ec53,
  "lock-unlocked": \ec54,
  "locomotive": \ec55,
  "loop": \ec56,
  "loop-1": \ec57,
  "loop-circular": \ec58,
  "loop-square": \ec59,
  "low-vision": \ec5a,
  "loyalty": \ec5b,
  "magnifying-glass": \ec5c,
  "mail": \ec5d,
  "mailbox": \ec5e,
  "map": \ec5f,
  "map-alt": \ec60,
  "media-eject": \ec61,
  "media-eject-circle": \ec62,
  "media-eject-square": \ec63,
  "media-pause": \ec64,
  "media-pause-circle": \ec65,
  "media-pause-square": \ec66,
  "media-play": \ec67,
  "media-play-circle": \ec68,
  "media-play-square": \ec69,
  "media-record": \ec6a,
  "media-record-circle": \ec6b,
  "media-record-square": \ec6c,
  "media-skip-backward": \ec6d,
  "media-skip-backward-circle": \ec6e,
  "media-skip-backward-square": \ec6f,
  "media-skip-forward": \ec70,
  "media-skip-forward-circle": \ec71,
  "media-skip-forward-square": \ec72,
  "media-step-backward": \ec73,
  "media-step-backward-circle": \ec74,
  "media-step-backward-square": \ec75,
  "media-step-forward": \ec76,
  "media-step-forward-circle": \ec77,
  "media-step-forward-square": \ec78,
  "media-stop": \ec79,
  "media-stop-circle": \ec7a,
  "media-stop-square": \ec7b,
  "medical-cross": \ec7c,
  "meh": \ec7d,
  "memory": \ec7e,
  "menu": \ec7f,
  "mic": \ec80,
  "mic-alt": \ec81,
  "mic-settings": \ec82,
  "mic-slash": \ec83,
  "microchip": \ec84,
  "microphone": \ec85,
  "microphone-alt": \ec86,
  "microphone-settings": \ec87,
  "microphone-slash": \ec88,
  "minus": \ec89,
  "minus-circle": \ec8a,
  "minus-square": \ec8b,
  "mobile": \ec8c,
  "mobile-arrow-add": \ec8d,
  "mobile-arrow-remove": \ec8e,
  "mobile-check": \ec8f,
  "mobile-developer-mode": \ec90,
  "mobile-landscape": \ec91,
  "mobile-lock": \ec92,
  "mobile-minus": \ec93,
  "mobile-plus": \ec94,
  "mobile-portrait": \ec95,
  "mobile-settings": \ec96,
  "mobile-slash": \ec97,
  "mobile-sms": \ec98,
  "mobile-speaker": \ec99,
  "mobile-volume": \ec9a,
  "mobile-x": \ec9b,
  "money": \ec9c,
  "money-bill": \ec9d,
  "money-bill-alt": \ec9e,
  "money-bill-alt2": \ec9f,
  "monitor": \eca0,
  "mood-bad": \eca1,
  "mood-good": \eca2,
  "mood-very-bad": \eca3,
  "mood-very-good": \eca4,
  "more": \eca5,
  "motorbike": \eca6,
  "mouse": \eca7,
  "mouse-alt": \eca8,
  "mouth": \eca9,
  "mouth-slash": \ecaa,
  "move": \ecab,
  "movie": \ecac,
  "movie-alt": \ecad,
  "mug": \ecae,
  "mug-tea": \ecaf,
  "music-note": \ecb0,
  "music-note-alt": \ecb1,
  "music-note-slash": \ecb2,
  "music-video": \ecb3,
  "network-check": \ecb4,
  "new": \ecb5,
  "new-releases": \ecb6,
  "newspaper": \ecb7,
  "note": \ecb8,
  "note-add": \ecb9,
  "notes": \ecba,
  "object-group": \ecbb,
  "object-ungroup": \ecbc,
  "opacity": \ecbd,
  "opentype": \ecbe,
  "options": \ecbf,
  "oven": \ecc0,
  "overscan": \ecc1,
  "overscan-settings": \ecc2,
  "page": \ecc3,
  "page-restore": \ecc4,
  "pageview": \ecc5,
  "paint": \ecc6,
  "paint-bucket": \ecc7,
  "paper-plane": \ecc8,
  "paperclip": \ecc9,
  "paragraph": \ecca,
  "parking": \eccb,
  "paw": \eccc,
  "pen": \eccd,
  "pen-alt": \ecce,
  "pen-fancy": \eccf,
  "pen-nib": \ecd0,
  "pencil": \ecd1,
  "people": \ecd2,
  "people_plus": \ecd3,
  "percent": \ecd4,
  "person": \ecd5,
  "person-female": \ecd6,
  "petrol-station": \ecd7,
  "phone": \ecd8,
  "phone-bluetooth": \ecd9,
  "phone-call": \ecda,
  "phone-call-end": \ecdb,
  "phone-callback": \ecdc,
  "phone-check": \ecdd,
  "phone-forward": \ecde,
  "phone-in-talk": \ecdf,
  "phone-lock": \ece0,
  "phone-minus": \ece1,
  "phone-missed": \ece2,
  "phone-paused": \ece3,
  "phone-plus": \ece4,
  "phone-ring-volume": \ece5,
  "phone-settings": \ece6,
  "phone-slash": \ece7,
  "phone-square": \ece8,
  "phone-volume": \ece9,
  "phone-x": \ecea,
  "picture-in-picture": \eceb,
  "picture-in-picture-alt": \ecec,
  "pin": \eced,
  "pizza": \ecee,
  "plant": \ecef,
  "playlist-add": \ecf0,
  "playlist-add-check": \ecf1,
  "playlist-play": \ecf2,
  "plus": \ecf3,
  "plus-circle": \ecf4,
  "plus-one": \ecf5,
  "plus-square": \ecf6,
  "pool": \ecf7,
  "portable-wifi": \ecf8,
  "portable-wifi-off": \ecf9,
  "power-settings": \ecfa,
  "power-standby": \ecfb,
  "pregnant": \ecfc,
  "print": \ecfd,
  "printer": \ecfe,
  "printer-slash": \ecff,
  "pushchair": \ed00,
  "puzzle": \ed01,
  "puzzle-piece": \ed02,
  "qr-code": \ed03,
  "queue": \ed04,
  "queue-add": \ed05,
  "queue-music": \ed06,
  "queue-play-next": \ed07,
  "queue-remove": \ed08,
  "radio": \ed09,
  "railway": \ed0a,
  "random": \ed0b,
  "recent-actors": \ed0c,
  "rectangle": \ed0d,
  "recycle": \ed0e,
  "reload": \ed0f,
  "remote-control": \ed10,
  "remote-settings": \ed11,
  "replay": \ed12,
  "report": \ed13,
  "report-slash": \ed14,
  "resize-both": \ed15,
  "resize-height": \ed16,
  "resize-width": \ed17,
  "restaurant": \ed18,
  "restaurant-menu": \ed19,
  "restore": \ed1a,
  "room": \ed1b,
  "room-slash": \ed1c,
  "rounded-corner": \ed1d,
  "router": \ed1e,
  "rowing": \ed1f,
  "rss": \ed20,
  "rss-alt": \ed21,
  "rss-square": \ed22,
  "ruble": \ed23,
  "ruble-circle": \ed24,
  "ruble-circle-slash": \ed25,
  "ruble-slash": \ed26,
  "running": \ed27,
  "sad": \ed28,
  "satelite": \ed29,
  "save": \ed2a,
  "scanner": \ed2b,
  "school": \ed2c,
  "scooter": \ed2d,
  "screen-deskop-slash": \ed2e,
  "screen-desktop": \ed2f,
  "screen-horizontal": \ed30,
  "screen-landscape": \ed31,
  "screen-lock-horizontal": \ed32,
  "screen-lock-landscape": \ed33,
  "screen-lock-portrait": \ed34,
  "screen-lock-rotation": \ed35,
  "screen-lock-vertical": \ed36,
  "screen-mirroring": \ed37,
  "screen-portrait": \ed38,
  "screen-rotation": \ed39,
  "screen-smartphone": \ed3a,
  "screen-vertical": \ed3b,
  "script": \ed3c,
  "scrubber": \ed3d,
  "sdcard": \ed3e,
  "search": \ed3f,
  "security": \ed40,
  "select": \ed41,
  "select-all": \ed42,
  "send": \ed43,
  "settings": \ed44,
  "share": \ed45,
  "share-all": \ed46,
  "share-alt": \ed47,
  "share-boxed": \ed48,
  "shield": \ed49,
  "shield-alt": \ed4a,
  "shield-check": \ed4b,
  "shield-minus": \ed4c,
  "shield-plus": \ed4d,
  "shield-slash": \ed4e,
  "shield-x": \ed4f,
  "shop-media": \ed50,
  "shop-media-two": \ed51,
  "short-text": \ed52,
  "shower": \ed53,
  "sign-language": \ed54,
  "signal": \ed55,
  "signal-cellular-0": \ed56,
  "signal-cellular-1": \ed57,
  "signal-cellular-2": \ed58,
  "signal-cellular-3": \ed59,
  "signal-cellular-4": \ed5a,
  "signal-cellular-no-internet-0": \ed5b,
  "signal-cellular-no-internet-1": \ed5c,
  "signal-cellular-no-internet-2": \ed5d,
  "signal-cellular-no-internet-3": \ed5e,
  "signal-cellular-no-internet-4": \ed5f,
  "signal-cellular-off": \ed60,
  "signal-cellular-off_1": \ed61,
  "signpost": \ed62,
  "sim": \ed63,
  "sim-slash": \ed64,
  "sitemap": \ed65,
  "slow-motion": \ed66,
  "smile": \ed67,
  "smile-plus": \ed68,
  "smoke": \ed69,
  "smoke-free": \ed6a,
  "smoke-slash": \ed6b,
  "smoking-room": \ed6c,
  "soccer": \ed6d,
  "sofa": \ed6e,
  "sorround-sound": \ed6f,
  "sort-alpha-down": \ed70,
  "sort-alpha-up": \ed71,
  "sort-ascending": \ed72,
  "sort-descending": \ed73,
  "sort-numeric-down": \ed74,
  "sort-numeric-up": \ed75,
  "spa": \ed76,
  "space-bar": \ed77,
  "speak": \ed78,
  "speaker": \ed79,
  "speaker-group": \ed7a,
  "speech": \ed7b,
  "speech-bubble": \ed7c,
  "speech-notes": \ed7d,
  "speech-notes-slash": \ed7e,
  "speedometer": \ed7f,
  "spreadsheet": \ed80,
  "square": \ed81,
  "star": \ed82,
  "star-circle": \ed83,
  "star-half": \ed84,
  "sticky-note": \ed85,
  "storage": \ed86,
  "store": \ed87,
  "stream": \ed88,
  "strikethrough": \ed89,
  "subtitles": \ed8a,
  "subway": \ed8b,
  "swap-horizontal": \ed8c,
  "swap-horizontal-circle": \ed8d,
  "swap-vertical": \ed8e,
  "swap-vertical-circle": \ed8f,
  "swimming": \ed90,
  "sync": \ed91,
  "sync-disabled": \ed92,
  "sync-problem": \ed93,
  "tablet": \ed94,
  "tag": \ed95,
  "tags": \ed96,
  "target": \ed97,
  "task": \ed98,
  "taxi": \ed99,
  "tennis": \ed9a,
  "tennis-ball": \ed9b,
  "terminal": \ed9c,
  "terrain": \ed9d,
  "text": \ed9e,
  "text-direction-ltr": \ed9f,
  "text-direction-rtl": \eda0,
  "text-format-clear": \eda1,
  "text-height": \eda2,
  "text-rotate-vertical": \eda3,
  "text-rotation-down": \eda4,
  "text-rotation-none": \eda5,
  "text-rotation-up": \eda6,
  "text-shapes": \eda7,
  "text-size": \eda8,
  "text-square": \eda9,
  "text-strike": \edaa,
  "text-width": \edab,
  "timeline": \edac,
  "timer": \edad,
  "toggle-off": \edae,
  "toggle-on": \edaf,
  "toilet": \edb0,
  "toll": \edb1,
  "touch-app": \edb2,
  "traffic": \edb3,
  "train": \edb4,
  "train-alt": \edb5,
  "tram": \edb6,
  "transfer": \edb7,
  "transfer-within-a-station": \edb8,
  "translate": \edb9,
  "trash": \edba,
  "trash-alt": \edbb,
  "trash-arrow-up": \edbc,
  "trash-sweep": \edbd,
  "trash-x": \edbe,
  "triangle": \edbf,
  "truck": \edc0,
  "tty": \edc1,
  "tv": \edc2,
  "tv-dvr": \edc3,
  "tv-live": \edc4,
  "tv-slash": \edc5,
  "underline": \edc6,
  "universal-access": \edc7,
  "update": \edc8,
  "usb": \edc9,
  "user": \edca,
  "user-female": \edcb,
  "user-follow": \edcc,
  "user-secret": \edcd,
  "user-unfollow": \edce,
  "vector": \edcf,
  "verical-split": \edd0,
  "vertical-align-bottom": \edd1,
  "vertical-align-center": \edd2,
  "vertical-align-top": \edd3,
  "video": \edd4,
  "video-label": \edd5,
  "video-library": \edd6,
  "video-missed": \edd7,
  "video-plus": \edd8,
  "video-slash": \edd9,
  "video-switch": \edda,
  "videogame": \eddb,
  "view-agenda": \eddc,
  "view-array": \eddd,
  "view-carousel": \edde,
  "view-column": \eddf,
  "view-module": \ede0,
  "view-quilt": \ede1,
  "view-stream": \ede2,
  "voice": \ede3,
  "voice-over-record": \ede4,
  "voice-over-slash": \ede5,
  "voicemail": \ede6,
  "volume-high": \ede7,
  "volume-low": \ede8,
  "volume-off": \ede9,
  "vote": \edea,
  "walk": \edeb,
  "wallet": \edec,
  "wallpaper": \eded,
  "warning": \edee,
  "watch": \edef,
  "waves": \edf0,
  "wc": \edf1,
  "weightlifitng": \edf2,
  "weights": \edf3,
  "wheelchair": \edf4,
  "widgets": \edf5,
  "wifi": \edf6,
  "wifi-lock": \edf7,
  "wifi-signal-0": \edf8,
  "wifi-signal-1": \edf9,
  "wifi-signal-2": \edfa,
  "wifi-signal-3": \edfb,
  "wifi-signal-4": \edfc,
  "wifi-signal-lock-0": \edfd,
  "wifi-signal-lock-1": \edfe,
  "wifi-signal-lock-2": \edff,
  "wifi-signal-lock-3": \ee00,
  "wifi-signal-lock-4": \ee01,
  "wifi-signal-off": \ee02,
  "window": \ee03,
  "window-maximize": \ee04,
  "window-minimize": \ee05,
  "window-restore": \ee06,
  "wrap-text": \ee07,
  "x": \ee08,
  "x-circle": \ee09,
  "x-square": \ee0a,
  "yen": \ee0b,
  "yen-circle": \ee0c,
  "yen-circle-slash": \ee0d,
  "yen-slash": \ee0e,
  "zoom": \ee0f,
  "zoom-in": \ee10,
  "zoom-out": \ee11,
) !default;